/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.finalized-shipment {
    background-color: #42c733 !important;
    color: white !important
}

    .finalized-shipment button {
        color: white !important;
        border: solid 1px white !important;
    }
